force-app/main/default/flows/Auto_Create_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opportunity_Product_into_Order</name>
        <label>Assign Opportunity Product into Order</label>
        <locationX>620</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>SOC_OrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_OrderLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Opportunity_Line_Items_into_Order</name>
        <label>Copy Opportunity Line Items into Order</label>
        <locationX>449</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>SOV_OrderLineItems.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_OrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_OrderLineItems.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_OrderLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_OrderLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_OrderLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_OrderLineItems.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_OrderLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Product_into_Order</targetReference>
        </connector>
    </assignments>
    <description>Auto create Order when Opportunity Record Type = &apos;One Time&apos;  &amp;  Status = &apos;Closed Win&apos;</description>
    <interviewLabel>Auto Create Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Order</label>
    <loops>
        <name>Loop_Opportunity_Line_Items</name>
        <label>Loop Opportunity Line Items</label>
        <locationX>546</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>SOV_OpportunityLineItems</assignNextValueToReference>
        <collectionReference>SOC_OpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Opportunity_Line_Items_into_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Product_in_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Order will create when opportunity record type = &apos;One Time&apos; &amp; Status = &apos;Closed Win&apos;</description>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>342</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>Var_OrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Opportunity_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Var_OrderStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Loyalty_Tier_Test__c</field>
            <value>
                <elementReference>Var_EstimatedDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Var_OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Var_PricebookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_OrderRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Var_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Product_in_Order</name>
        <label>Create Order Product in Order</label>
        <locationX>774</locationX>
        <locationY>53</locationY>
        <inputReference>SOC_OrderLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_for_Opportunity_Product</name>
        <label>Lookup for Opportunity Product</label>
        <locationX>188</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOC_OpportunityLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_for_Opportunity_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SOC_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOC_OrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>SOV_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOV_OrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Discount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_EstimatedDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_OrderRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_OrderStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_PricebookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
