force-app/main/default/flows/Auto_Create_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Order_Product_into_Invoice</name>
        <label>Add Order Product into Invoice</label>
        <locationX>872</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>SOC_InvoiceProperty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_InvoiceProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Order_Line_Items_into_Invoice</name>
        <label>Copy Order Line Items into Invoice</label>
        <locationX>690</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>SOV_InvoiceProperty.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_InvoiceID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_InvoiceProperty.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OrderLineItems.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_InvoiceProperty.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OrderLineItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_InvoiceProperty.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OrderLineItems.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_InvoiceProperty.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OrderLineItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_InvoiceProperty.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OrderLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_InvoiceProperty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OrderLineItems.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_into_Invoice</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Auto Create Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Invoice &amp; Commission</label>
    <loops>
        <name>Loop_Order_Line_Items</name>
        <label>Loop Order Line Items</label>
        <locationX>788</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>SOV_OrderLineItems</assignNextValueToReference>
        <collectionReference>SOC_OrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Order_Line_Items_into_Invoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Property_in_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Commission</name>
        <label>Create Commission</label>
        <locationX>596</locationX>
        <locationY>164</locationY>
        <connector>
            <targetReference>Loop_Order_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Var_CommissionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Var_ContractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Var_InvoiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Var_CommissionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Var_OrderID</elementReference>
            </value>
        </inputAssignments>
        <object>Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>596</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>Var_InvoiceID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Commission</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Var_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Var_ContractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Var_InvoiceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Delivery_Date__c</field>
            <value>
                <elementReference>Var_OrderDeliveryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Var_OrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount_Due__c</field>
            <value>
                <elementReference>Var_PaymentAmountDue</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Property_in_Invoice</name>
        <label>Create Property in Invoice</label>
        <locationX>1004</locationX>
        <locationY>43</locationY>
        <inputReference>SOC_InvoiceProperty</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Order_Product</name>
        <label>Lookup Order Product</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OrderID</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>SOC_OrderLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <sortField>Product_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Order_Product</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>SOC_ContractProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SOC_InvoiceProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SOC_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOC_OrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>SOV_ContractProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SOV_InvoiceProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SOV_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOV_OrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CommissionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_CommissionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CompanySignedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CompanySignedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContractTerms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_CustomerSignedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CustomerSignedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_DiscountedTotalProductValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_InvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_InvoiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_OrderDeliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_PaymentAmountDue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_PaymentTerm</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Pricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_UnallocatedContractValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
