force-app/main/default/flows/Auto_Create_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opportunity_Product_into_Contract</name>
        <label>Add Opportunity Product into Contract</label>
        <locationX>716</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>SOC_ContractProperty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_ContractProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Opportunity_Line_Items_into_Contract</name>
        <label>Copy Opportunity Line Items into Contract</label>
        <locationX>534</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>SOV_ContractProperty.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ContractID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_ContractProperty.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_ContractProperty.Total_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_ContractProperty.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_ContractProperty.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_ContractProperty.PriceBookEntry_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Product_into_Contract</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Auto Create Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Contract</label>
    <loops>
        <name>Loop_Opportunity_Line_Items</name>
        <label>Loop Opportunity Line Items</label>
        <locationX>632</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>SOV_OpportunityLineItems</assignNextValueToReference>
        <collectionReference>SOC_OpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Opportunity_Line_Items_into_Contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Property_in_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>440</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>Var_ContractID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Opportunity_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedDate</field>
            <value>
                <elementReference>Var_CompanySignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedId</field>
            <value>
                <elementReference>Var_CompanySignedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>Var_ContractTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedDate</field>
            <value>
                <elementReference>Var_CustomerSignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedId</field>
            <value>
                <elementReference>Var_CustomerSignedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>Var_OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Var_Pricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Var_ContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Product_Value__c</field>
            <value>
                <elementReference>Var_DiscountedTotalProductValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unallocated_Contract_Value__c</field>
            <value>
                <elementReference>Var_UnallocatedContractValue</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Property_in_Contract</name>
        <label>Create Property in Contract</label>
        <locationX>848</locationX>
        <locationY>43</locationY>
        <inputReference>SOC_ContractProperty</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opportunity_Product</name>
        <label>Lookup Opportunity Product</label>
        <locationX>234</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOC_OpportunityLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Opportunity_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SOC_ContractProperty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SOC_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOV_ContractProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SOV_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CompanySignedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CompanySignedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ContractTerms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_CustomerSignedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_CustomerSignedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_DiscountedTotalProductValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Pricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_UnallocatedContractValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
