force-app/main/default/flows/Auto_Synced_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Quote_PDF</name>
        <label>Generate Quote PDF</label>
        <locationX>973</locationX>
        <locationY>59</locationY>
        <actionName>CreateQuoteController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>Var_QuoteID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateQuoteController</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opportunity_Line_Items_to_Quote_Line_Items</name>
        <label>Add Opportunity Line Items to Quote Line Items</label>
        <locationX>677</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>SOC_QuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOV_QuoteLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Line_Items_to_Quote_Line_Items</name>
        <label>Assign Opportunity Line Items to Quote Line Items</label>
        <locationX>465</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>SOV_QuoteLineItems.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_QuoteLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_QuoteLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_QuoteLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_QuoteLineItems.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_QuoteLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpportunityLineItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOV_QuoteLineItems.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_QuoteID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Line_Items_to_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Auto Synced Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Synced Quote</label>
    <loops>
        <name>Loop_Opportunity_Line_Item</name>
        <label>Loop Opportunity Line Item</label>
        <locationX>509</locationX>
        <locationY>54</locationY>
        <assignNextValueToReference>SOV_OpportunityLineItems</assignNextValueToReference>
        <collectionReference>SOC_OpportunityLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Line_Items_to_Quote_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>389</locationX>
        <locationY>56</locationY>
        <assignRecordIdToReference>Var_QuoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Opportunity_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Var_ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Var_ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loyalty_Tier_Discount__c</field>
            <value>
                <elementReference>Var_LoyaltyTierDiscount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Var_QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Var_OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>739</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Generate_Quote_PDF</targetReference>
        </connector>
        <inputReference>SOC_QuoteLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>252</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOC_OpportunityLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SOC_OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOC_QuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SOV_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOV_PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>SOV_QuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Var_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_LoyaltyTierDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_QuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
