force-app/main/default/flows/Create_Opportunity_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opportunity_Products</name>
        <label>Assign Opportunity Products</label>
        <locationX>888</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Products</name>
        <label>Assign Order Products</label>
        <locationX>888</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Product.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.Margin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Margin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.Description2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Description2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.Cost_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Cost_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Product.Total_Price_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Total_Price_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Opp_Products</name>
        <label>Has Opp Products</label>
        <locationX>165</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Get_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Opp_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opp_Products</targetReference>
            </connector>
            <label>Has Opp Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opportunity_Id</name>
        <label>Has Opportunity Id</label>
        <locationX>50</locationX>
        <locationY>259</locationY>
        <defaultConnector>
            <targetReference>Get_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OpportunityID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Products</targetReference>
            </connector>
            <label>Has Opp</label>
        </rules>
    </decisions>
    <interviewLabel>Create Opportunity Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity Product</label>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>677</locationX>
        <locationY>221</locationY>
        <assignNextValueToReference>Order_Product</assignNextValueToReference>
        <collectionReference>Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Products</name>
        <label>Create Opportunity Products</label>
        <locationX>675</locationX>
        <locationY>60</locationY>
        <inputReference>Opportunity_Products</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Opp_Products</name>
        <label>Delete Opp Products</label>
        <locationX>275</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Get_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>56</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_0</name>
        <label>Get Record</label>
        <locationX>497</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OrderID</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>Order_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Cost_Price__c</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>UOM__c</queriedFields>
        <queriedFields>Total_Price_Discount__c</queriedFields>
        <queriedFields>Description2__c</queriedFields>
        <queriedFields>Margin__c</queriedFields>
        <queriedFields>List_Price__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>145</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>Has_Opportunity_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Opportunity_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Opportunity_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Order_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Order_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>var_OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PricebookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
