force-app/main/default/flows/Enquiry_Update_Territory_Datail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Brach_Detail</name>
        <label>Assign Brach Detail</label>
        <locationX>759</locationX>
        <locationY>1400</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Main_Telephone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory2.Main_Telephone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Secondary_Telephone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory2.Secondary_Telephone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Secondary_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory2.Secondary_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Main_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory2.Main_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory2.Website__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Territory2.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateBranchAddress</name>
        <label>UpdateBranchAddress</label>
        <locationX>753</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Branch_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTerritoryBranchAddress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Brach_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateBranchAddress_Null</name>
        <label>UpdateBranchAddress Null</label>
        <locationX>556</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Branch_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Brach_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateBranchManager</name>
        <label>UpdateBranchManager</label>
        <locationX>769</locationX>
        <locationY>925</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Branch_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTerritoryBranchManager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isSalesCo_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateBranchManager_Null</name>
        <label>UpdateBranchManager Null</label>
        <locationX>386</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Branch_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isSalesCo_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateisSalesCo</name>
        <label>UpdateisSalesCo</label>
        <locationX>776</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Sales_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Sales_Coordinator__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isBranchAddress_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateisSalesCo_Null</name>
        <label>UpdateisSalesCo Null</label>
        <locationX>769</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Sales_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isBranchAddress_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateWarehouse</name>
        <label>UpdateWarehouse</label>
        <locationX>764</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTerritoryWarehouse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isBranchManager_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateWarehouse_Null</name>
        <label>UpdateWarehouse Null</label>
        <locationX>293</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>OppRecord.Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isBranchManager_Empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Created_from_StandAlone_Order</name>
        <label>Created from StandAlone Order?</label>
        <locationX>1141</locationX>
        <locationY>1404</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Standalone_Order_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BranchAddress_Exist</name>
        <label>Is BranchAddress Exist?</label>
        <locationX>547</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>UpdateBranchAddress_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Exist_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTerritoryBranchAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBranchAddress</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BranchManager_Exist</name>
        <label>Is BranchManager Exist?</label>
        <locationX>761</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>UpdateBranchManager_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTerritoryBranchManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBranchManager</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Warehouse_Exist</name>
        <label>Is Warehouse Exist?</label>
        <locationX>757</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>UpdateWarehouse_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTerritoryWarehouse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateWarehouse</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>isBranchAddress_Empty</name>
        <label>isBranchAddress Empty?</label>
        <locationX>371</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>UpdateBranchAddress_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory2.Branch_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTerritoryBranchAddress</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>isBranchManager_Empty</name>
        <label>isBranchManager Empty?</label>
        <locationX>397</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>UpdateBranchManager_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory2.Branch_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTerritoryBranchManager</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSalesCo_Empty</name>
        <label>isSalesCo Empty?</label>
        <locationX>376</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>UpdateisSalesCo_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Sales_Coordinator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateisSalesCo</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTerritoryID_Exist</name>
        <label>IsTerritoryID Exist</label>
        <locationX>394</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Ter_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isWarehouse_Empty</targetReference>
            </connector>
            <label>Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isWarehouse_Empty</name>
        <label>isWarehouse Empty?</label>
        <locationX>393</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>UpdateWarehouse_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory2.Warehouse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTerritoryWarehouse</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <interviewLabel>Enquiry - Update Territory Datail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enquiry - Update Territory Datail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTerritoryBranchAddress</name>
        <label>getTerritoryBranchAddress</label>
        <locationX>382</locationX>
        <locationY>1398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_BranchAddress_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory2.Branch_Address__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Branch</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTerritoryBranchManager</name>
        <label>getTerritoryBranchManager</label>
        <locationX>577</locationX>
        <locationY>748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_BranchManager_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory2.Branch_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTerritoryWarehouse</name>
        <label>getTerritoryWarehouse</label>
        <locationX>571</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Warehouse_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory2.Warehouse__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Record</name>
        <label>Update Opp Record</label>
        <locationX>976</locationX>
        <locationY>1400</locationY>
        <connector>
            <targetReference>Created_from_StandAlone_Order</targetReference>
        </connector>
        <inputReference>OppRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Record_0</name>
        <label>Update Opp Record</label>
        <locationX>757</locationX>
        <locationY>285</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Branch_Address__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Fax_Number__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Telephone_Number__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Fax_Number__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Telephone_Number__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1151</locationX>
        <locationY>1595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Standalone_Order_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Branch_Manager__c</field>
            <value>
                <elementReference>$Record.Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep_Branch__c</field>
            <value>
                <elementReference>$Record.Sales_Rep_Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse__c</field>
            <value>
                <elementReference>$Record.Warehouse__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>54</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>IsTerritoryID_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Submission_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Submission_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Successful</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
