force-app/main/default/flows/Enquiry_Update_Warehouse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>UpdateWarehouse</name>
        <label>UpdateWarehouse</label>
        <locationX>585</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>$Record.Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTerritoryWarehouse.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateWarehouse_0</name>
        <label>UpdateWarehouse</label>
        <locationX>595</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Warehouse</name>
        <label>Check Warehouse</label>
        <locationX>365</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>UpdateWarehouse_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Warehouse_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTerritoryWarehouse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateWarehouse</targetReference>
            </connector>
            <label>Is Warehouse Exist?</label>
        </rules>
    </decisions>
    <interviewLabel>Enquiry - Update Warehouse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enquiry - Update Warehouse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTerritoryWarehouse</name>
        <label>getTerritoryWarehouse</label>
        <locationX>179</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory2.Warehouse__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>53</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>getTerritoryWarehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
