force-app/main/default/flows/Generate_Order_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Back_Order</name>
        <label>Assign Back Order</label>
        <locationX>958</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>Back_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Back_Order_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Back_Order_Product</name>
        <label>Assign Back Order Product</label>
        <locationX>1530</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>Back_Order_Product.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Back_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order_Product.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order_Product.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.New_Order_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order_Product.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order_Product.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order_Product.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order_Product.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Contract_Line_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Back_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Back_Order_Products</name>
        <label>Assign Back Order Products</label>
        <locationX>1671</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>Back_Order_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Back_Order_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cancel_Order_Products</name>
        <label>Assign Cancel Order Products</label>
        <locationX>1273</locationX>
        <locationY>1205</locationY>
        <assignmentItems>
            <assignToReference>Order_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cancel_Order_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cancel_Order_Quantity</name>
        <label>Assign Cancel Order Quantity</label>
        <locationX>1273</locationX>
        <locationY>1326</locationY>
        <assignmentItems>
            <assignToReference>Cancel_Order_Product.Refund_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancel_Order_Product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Set_Order_Quantity_to_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Product</name>
        <label>Assign Contract Product</label>
        <locationX>1307</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>Update_Contract_Product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contract_Product.New_Order_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.New_Order_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contract_Product.Total_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.Total_Ordered__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Contract_Product.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.Populated_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contract_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Products</name>
        <label>Assign Contract Products</label>
        <locationX>1439</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>Updated_Contract_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Contract_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Contract_Products</name>
        <label>Assign Existing Contract Products</label>
        <locationX>1286</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>Existing_Contract_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contract_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Contract_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Order_Product</name>
        <label>Assign Existing Order Product</label>
        <locationX>1669</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>Existing_Order_Product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Order_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Order_Product.New_Order_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.New_Order_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Order_Product_0</name>
        <label>Assign Existing Order Product</label>
        <locationX>805</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Existing_Order_Product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Order_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Order_Product.Refund_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product.Refund_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Order_Products_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Order_Products</name>
        <label>Assign Existing Order Products</label>
        <locationX>1533</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>Existing_Order_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Order_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Order_Products_0</name>
        <label>Assign Existing Order Products</label>
        <locationX>808</locationX>
        <locationY>1137</locationY>
        <assignmentItems>
            <assignToReference>Existing_Order_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Order_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Product</name>
        <label>Assign Order Product</label>
        <locationX>1439</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>Order_Product.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Product.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.Product_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Product.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.New_Order_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Product.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Product.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.PriceBookEntry_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Product.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.Populated_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Product.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Products</name>
        <label>Assign Order Products</label>
        <locationX>1308</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>Order_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Refund_Contract_Products</name>
        <label>Assign Refund Contract Products</label>
        <locationX>941</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>Refund_Contract_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contract_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Order_Products_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Refund_Quantity_to_Contract_Product</name>
        <label>Assign Refund Quantity to Contract Product</label>
        <locationX>1101</locationX>
        <locationY>1003</locationY>
        <assignmentItems>
            <assignToReference>Contract_Product.Total_Ordered__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Order_Product.Refund_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Refund_Contract_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Set_Order_Quantity_to_Zero</name>
        <label>Assign Set Order Quantity to Zero</label>
        <locationX>1432</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>Cancel_Order_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cancel_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Back_Order_Id</name>
        <label>Clear Back Order Id</label>
        <locationX>1113</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>Back_Order.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Back-Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back_Order.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Order.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Back_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Assign_Back_Order_Product</name>
        <label>Decision Assign Back Order Product</label>
        <locationX>1372</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Order_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_has_Back_Order_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Product.New_Order_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Back_Order_Product</targetReference>
            </connector>
            <label>Outcome has Back Order Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Assign_Order_Product</name>
        <label>Decision Assign Order Product</label>
        <locationX>1092</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Loop_Contract_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_has_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Product.New_Order_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Product</targetReference>
            </connector>
            <label>Outcome has Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Found_Existing_Contract_Product</name>
        <label>Decision Found Existing Contract Product</label>
        <locationX>1096</locationX>
        <locationY>1138</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Order_Products_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Contract_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Refund_Quantity_to_Contract_Product</targetReference>
            </connector>
            <label>Outcome Has Contract Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Contract_Id</name>
        <label>Decision Has Contract Id</label>
        <locationX>629</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Get_Order2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contract_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_0_0</targetReference>
            </connector>
            <label>Has Contract Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Operation_Type</name>
        <label>Decision Operation Type</label>
        <locationX>50</locationX>
        <locationY>757</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Query_Contract_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Query_Contract_Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract</targetReference>
            </connector>
            <label>Outcome Query Contract Products</label>
        </rules>
        <rules>
            <name>Outcome_Create_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_0</targetReference>
            </connector>
            <label>Outcome Create Order</label>
        </rules>
        <rules>
            <name>Outcome_Query_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Query_Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Has_Contract_Id</targetReference>
            </connector>
            <label>Outcome Query Product</label>
        </rules>
        <rules>
            <name>Outcome_Query_Order_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Query_Order_Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Products</targetReference>
            </connector>
            <label>Outcome Query Order Products</label>
        </rules>
        <rules>
            <name>Outcome_Create_Back_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Back_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Order</targetReference>
            </connector>
            <label>Outcome Create Back Order</label>
        </rules>
        <rules>
            <name>Outcome_Update_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Existing_Order_Products_0</targetReference>
            </connector>
            <label>Outcome Update Order</label>
        </rules>
        <rules>
            <name>Outcome_Cancel_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cancel_Order</targetReference>
            </connector>
            <label>Outcome Cancel Order</label>
        </rules>
    </decisions>
    <interviewLabel>Order Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Order Products</label>
    <loops>
        <name>Loop_Contract_Products</name>
        <label>Loop Contract Products</label>
        <locationX>1095</locationX>
        <locationY>163</locationY>
        <assignNextValueToReference>Contract_Product</assignNextValueToReference>
        <collectionReference>Contract_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Assign_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Contract_Products</name>
        <label>Loop Existing Contract Products</label>
        <locationX>1106</locationX>
        <locationY>32</locationY>
        <assignNextValueToReference>Contract_Product</assignNextValueToReference>
        <collectionReference>Contract_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Contract_Products</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Order_Products</name>
        <label>Loop Existing Order Products</label>
        <locationX>1382</locationX>
        <locationY>704</locationY>
        <assignNextValueToReference>Order_Product</assignNextValueToReference>
        <collectionReference>Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Assign_Back_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Back_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Order_Products_0</name>
        <label>Loop Existing Order Products</label>
        <locationX>807</locationX>
        <locationY>842</locationY>
        <assignNextValueToReference>Order_Product</assignNextValueToReference>
        <collectionReference>Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Order_Product_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Existing_Order_Products_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>1107</locationX>
        <locationY>1326</locationY>
        <assignNextValueToReference>Cancel_Order_Product</assignNextValueToReference>
        <collectionReference>Cancel_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cancel_Order_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Existing_Order_Products_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Back_Order</name>
        <label>Create Back Order</label>
        <locationX>1245</locationX>
        <locationY>703</locationY>
        <connector>
            <targetReference>Loop_Existing_Order_Products</targetReference>
        </connector>
        <inputReference>Back_Order</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Back_Order_Products</name>
        <label>Create Back Order Products</label>
        <locationX>1534</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>Update_Existing_Order_Products</targetReference>
        </connector>
        <inputReference>Back_Order_Products</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>944</locationX>
        <locationY>164</locationY>
        <assignRecordIdToReference>Order_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Contract_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Bulk_Order_Type__c</field>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Pricebook_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Order_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>1575</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>Update_Contract_Products</targetReference>
        </connector>
        <inputReference>Order_Products</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cancel_Order_Products</name>
        <label>Get Cancel Order Products</label>
        <locationX>959</locationX>
        <locationY>1326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>Cancel_Order_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Contract_Line_Item__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>818</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>Pricebook_Id</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_0</name>
        <label>Get Contract</label>
        <locationX>806</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>Contract_Type</assignToReference>
            <field>Contract_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pricebook_Id</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_0_0</name>
        <label>Get Contract</label>
        <locationX>798</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>Estimated_Discount</assignToReference>
            <field>Estimated_Discount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pricebook_Id</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Product</name>
        <label>Get Contract Product</label>
        <locationX>955</locationX>
        <locationY>1137</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Found_Existing_Contract_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Product.Contract_Line_Item__c</elementReference>
            </value>
        </filters>
        <object>Contract_Line_Item__c</object>
        <outputReference>Contract_Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Ordered__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Products</name>
        <label>Get Contract Products</label>
        <locationX>954</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Contract_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </filters>
        <object>Contract_Line_Item__c</object>
        <outputReference>Contract_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Total_Quantity__c</queriedFields>
        <queriedFields>Sales_Price__c</queriedFields>
        <queriedFields>Product_Description__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>Total_Ordered__c</queriedFields>
        <queriedFields>Total_Remaining__c</queriedFields>
        <queriedFields>PriceBookEntry_Id__c</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>Populated_Discount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Order</name>
        <label>Get Existing Order</label>
        <locationX>807</locationX>
        <locationY>697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Back_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Existing_Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>972</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>Contract_Id</assignToReference>
            <field>ContractId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pricebook_Id</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order2</name>
        <label>Get Order</label>
        <locationX>696</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputAssignments>
            <assignToReference>Pricebook_Id</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get_Order_Products</label>
        <locationX>806</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>Order_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>New_Order_Quantity__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>Contract_Id__c</queriedFields>
        <queriedFields>Contract_Line_Item__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_RT</name>
        <label>Get Order RT</label>
        <locationX>872</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>961</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Pricebookentry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Pricebookentry</name>
        <label>Get Product Pricebookentry</label>
        <locationX>1112</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pricebook_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>Pricebookentry_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Unit_Price</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cancel_Order</name>
        <label>Update Cancel Order</label>
        <locationX>813</locationX>
        <locationY>1326</locationY>
        <connector>
            <targetReference>Get_Cancel_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>1913</locationX>
        <locationY>156</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Orders__c</field>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Products</name>
        <label>Update Contract Products</label>
        <locationX>1722</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputReference>Updated_Contract_Products</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Order_Products</name>
        <label>Update Existing Order Products</label>
        <locationX>1662</locationX>
        <locationY>706</locationY>
        <inputReference>Existing_Order_Products</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Order_Products_0</name>
        <label>Update Existing Order Products</label>
        <locationX>962</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>Update_Refund_Contract_Products</targetReference>
        </connector>
        <inputReference>Existing_Order_Products</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Refund_Contract_Products</name>
        <label>Update Refund Contract Products</label>
        <locationX>1104</locationX>
        <locationY>845</locationY>
        <inputReference>Refund_Contract_Products</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>443</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decision_Operation_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Back_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Back_Order_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Back_Order_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Cancel_Order_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Cancel_Order_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Contract_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Contract_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Estimated_Discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Existing_Contract_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Existing_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Existing_Order_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Existing_Order_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Order_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Pricebook_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pricebookentry_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Refund_Contract_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Unit_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Update_Contract_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Updated_Contract_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
</Flow>
