force-app/main/default/flows/Generate_Contract_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_Product</name>
        <label>Assign Contract Product</label>
        <locationX>254</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>Contract_Product.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Product.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Product.Product_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Product.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Product.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Product.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Product.Total_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Product.Total_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Product.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Product.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Product.PriceBookEntry_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Product.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contract_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Products</name>
        <label>Assign Contract Products</label>
        <locationX>478</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>Contract_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contract_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Generate Contract Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Contract Products</label>
    <loops>
        <name>Loop_Opportunity_Products</name>
        <label>Loop Opportunity Products</label>
        <locationX>253</locationX>
        <locationY>220</locationY>
        <assignNextValueToReference>Opportunity_Product</assignNextValueToReference>
        <collectionReference>Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contract_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract_Products</name>
        <label>Create Contract Products</label>
        <locationX>481</locationX>
        <locationY>60</locationY>
        <inputReference>Contract_Products</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>254</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>Opportunity_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Discount__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Contract_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Opportunity_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
